@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  font-family: "poppins",sans-serif;
  
}
body{
  background: url(media/background.jpeg) no-repeat;
  background-position:center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-box{
  position:relative;
  width: 400px;
  height:  600px;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-box h2{
  color:#fff;
  text-align: center;
  font-size: 25px;

}
.form-box .input-box{
  position:relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 1px solid #fff;

}
.form-box .input-box input{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;

}
i{
  position: absolute;
  color: #fff;
  top: 13px;
  right:0;
}
input::placeholder{
  color: #fff;

}
.btn{
  color: #fff;
  background: blue;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(255, 249, 249, 0.795);

}
.group{
  
  display: flex;
  justify-content:center;

}
.group1{
  
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 20px;
  

}
.group span a{
  color: #fff;
  position: relative;
  top: 20px; 
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  background: blue;
  width: 100%;
  height: 30px;
  outline: none;
  cursor: pointer;
  padding: 3px;
}
.group a:focus,.group1 a:focus{
  text-decoration: underline;
}
.group1 a{
  color: #fff;
  
}
#result{
  color: red;
  font-weight: 500;
  position: relative;
  top: 20px;
  text-align: center;
}
.popup{
  display:inline;
  width: ; ;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top:10px;
  padding: 5px;
  left: 50%;
  transform: translate(-50%,-50%)scale(1);
  text-align: center;
}
.or,p{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;

}
#cgenerate{
  background-color: rgb(218, 220, 226,.6);
  width: 80%;
  height: 80%;
  border-radius: 5px;
  padding: 5px;
   
}
#check{
  
  width: 80%;
  height: 30%;
  margin: 10px;
  padding: 5px;
  border-radius: ;
  color: rgb(252, 244, 244);
 
}
.captcha i{
  font-size:20px;
  display:relative;
  top: 0;
  
  
}
 
 